html,
body,
.dka-layout-container,
.dka-layout-row,
.dka-layout-col {
    height: 100%;
}

.dka-adjustable-rows-container {
    display: flex;
    flex-direction: column;
}
.dka-fill-all-height-column {
    flex: 1;
}

.dka-layout-footer {
    padding-bottom: 15px;
}

.dka-environment-messagebox {
    position: fixed;
    bottom: 30px;
    left: 30px;
    margin: 0;
}

.dka-circle-status {
    margin: auto;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
}

.dka-green-circle-status {
    background-color: green;
}
.dka-red-circle-status {
    background-color: red;
}