@using Dka.AspNetCore.BasicWebApp.Models.Constants
@model Dka.AspNetCore.BasicWebApp.ViewModels.Tenants.Tenant
@{
    ViewData[ViewDataKeys.HtmlPageHeadSectionTitle] = "Edit tenant details";
    ViewData[ViewDataKeys.HtmlPageTopHeaderTitle] = "Edit tenant details";
    ViewData[ViewDataKeys.ActiveNavigationLink] = "administration";
}
@if (Model != null)
{
    <form asp-controller="Tenants" asp-action="edit" method="post">
        <div class="row">
            <div class="col-sm-12 text-sm-center">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Guid"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 text-sm-right">
                <label asp-for="Alias" class="font-weight-bold"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Alias" class="form-control"/>
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6 text-sm-right">
                <label asp-for="Name" class="font-weight-bold"></label>
            </div>
            <div class="col-sm-6">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="d-flex justify-content-sm-between">
                    <div></div>
                    <div>
                        <a asp-controller="Tenants" asp-action="details" asp-route-guid="@Model.Guid" class="btn btn-outline-secondary dka-btn">Cancel</a>
                        <button type="submit" asp-controller="Tenants" asp-action="edit" asp-route-guid="@Model.Guid" class="btn btn-outline-secondary dka-btn">Save</button>
                    </div>
                    <button type="submit" asp-controller="Tenants" asp-action="delete" asp-route-guid="@Model.Guid" class="btn btn-outline-danger dka-btn ml-auto ml-sm-0">Remove</button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="row mb-3 mb-sm-2">
        <div class="col-sm-12 text-sm-center">
            <p>
                Tenant not found
            </p>
            <a asp-action="index" class="btn btn-outline-secondary dka-btn">Back</a>
        </div>
    </div>
}