@using Dka.AspNetCore.BasicWebApp.Common.Models.Constants

<div class="alert alert-info dka-environment-messagebox">
    @(Environment.GetEnvironmentVariable(EnvironmentVariableNames.EnvironmentName) ?? "Production") environment
</div>