
@{
    ViewData["Title"] = ViewData["PageNameFromApi"];
    ViewData["MainPageTitle"] = "Home";
    ViewData["ActiveNavLinkName"] = "home";
}

<p>
    Page name is <span id="PageNameContainer">@ViewData["PageNameFromApi"]</span>
</p>