@using Dka.AspNetCore.BasicWebApp.Models.Constants

@{
    ViewData[ViewDataKeys.HtmlPageHeadSectionTitle] = ViewData[ViewDataKeys.HtmlPageNameReceivedFromApi];
    ViewData[ViewDataKeys.HtmlPageTopHeaderTitle] = "Home";
    ViewData[ViewDataKeys.ActiveNavigationLink] = "home";
}

<p>
    Basic web app
</p>