@using Dka.AspNetCore.BasicWebApp.Models.Constants

@{
    ViewData[ViewDataKeys.HtmlPageHeadSectionTitle] = ViewData[ViewDataKeys.HtmlPageNameReceivedFromApi];
    ViewData[ViewDataKeys.HtmlPageTopHeaderTitle] = "Home";
    ViewData[ViewDataKeys.ActiveNavigationLink] = "home";
}

<p>
    Page name is <span id="PageNameContainer">@ViewData[ViewDataKeys.HtmlPageNameReceivedFromApi]</span>
</p>