@using Dka.AspNetCore.BasicWebApp.Models.Constants

@{
    ViewData[ViewDataKeys.HtmlPageHeadSectionTitle] = ViewData[ViewDataKeys.HtmlPageNameReceivedFromApi];
    ViewData[ViewDataKeys.HtmlPageTopHeaderTitle] = "About";
    ViewData[ViewDataKeys.ActiveNavigationLink] = "about";
}

<div class="row">
    <div class="col-sm-12">
        This project is a result of study of ASP.NET Core 3.0
    </div>
</div>