
@{
    ViewData["Title"] = ViewData["PageNameFromApi"];
    ViewData["MainPageTitle"] = "About";
    ViewData["ActiveNavLinkName"] = "about";
}

<div class="row">
    <div class="col-sm-12">
        This project is a result of study of ASP.NET Core 3.0
    </div>
</div>
